.home-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .appointment-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .appointment-button:hover {
    background-color: #0056b3;
  }
  
  .hero {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .doctor-profile {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 6px;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .profile-pic {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .bg-custom{
    background: rgb(226,226,254);
    background: -moz-linear-gradient(180deg, rgb(231 231 231), rgb(250 250 250)100%);
    background: -webkit-linear-gradient(180deg, rgb(231 231 231), rgb(250 250 250)100%);
    background: linear-gradient(180deg, rgb(231 231 231), rgb(250 250 250)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2fe",endColorstr="#dadae3",GradientType=1);
    }

  .hero h1, .hero h2 , .hero h3 , .hero h4 , .hero h5 , .hero h6 {
    margin: 5px;
  }
  .hero p{
    margin: 5px;
    font-size: 14px;
  }
  .profile-description {
    font-size: 14px;
    text-align: start;
  }
  .btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .clinic-details {
    text-align: center;
    padding: 30px 20px;
  }
  
  .footer {
    text-align: center;
    background-color: #333;
    color: white;
  }
  


  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .home-container h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    color: #333;
  }